<h1>All Products</h1>
 
  <div class="row">
   <% @products.each_slice(3) do |three_products|%>
      <div class="row">
        <% three_products.each do |product| %>
          <div class="col-md-3">
          <h2><%= link_to product.name, "/products/#{product.id}" %></h2>
          <h2>Price: $ <%= product.price %></h2>
            <h2>Description: <%= product.description %></h2>
            <img src="<%= product.images.first.url %>" class="img-responsive">
          </div>
        <%end%>
       </div>
    <%end%>
  </div>
      

            
        
      




